<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <title>Tech Blog</title>
  <style>
    body {
      padding: 4.5rem;
      margin: 0;
      background: linear-gradient(90deg, #f7c3eb 0, #b9f0dd 60%);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1 {
      text-align: center;
      color: #f862d5;
    }

    h2 {
      text-align: center;
      color: #f862d5;
      font-size: 1.2rem;
    }

    .card {
      width: 300px;
      height: auto;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      background: rgba(255, 255, 255, 0.7);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }

    .card-header {
      margin-top: 0;
      margin-bottom: 0.75rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: #f862d5;
    }

    p {
      color: #f862d5;
    }

    a {
      color: #0db87c;
      text-decoration: none;
      font-size: 1rem;
    }

    main {
      margin-left: 38%;
    }
  </style>
  <div class="page-header">
    <h1>The Tech Blog</h1>
  </div>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2" style="text-align: center;">
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <a href="/">Homepage &nbsp;</a> |
        <a href="/dashboard">&nbsp; Dashboard &nbsp;</a> |
        <a href="/dashboard/create/">&nbsp; Create Post &nbsp;</a> |&nbsp;
        <button class="no-button" id="logout">&nbsp; Logout &nbsp;</button>&nbsp; |
        {{else}}
        <a href="/">Homepage&nbsp;</a> |
        <a href="/login">&nbsp;Login</a>
        {{/if}}
      </nav>
    </header>
    <br>
    <br>
    <main class="container container-fluid mt-5 main">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>
  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>