<section>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

        <a href="/dashboard">Dashboard</a>
        <h2>Create New Post</h2>
        <form class="new-post-form">
            <div>
                <label for="post-title">Title:</label>
                <input class="input" type="text" id="post-title" name="post-title" placeholder="Title Here" />
            </div>
            <div>
                <label for="post-body">Body:</label>
                <input id="post-body" name="post-body" placeholder="Content Here" />
            </div>
            <button type="submit" class="button is-primary is-pulled-right">Create New Post</button>
        </form>
    </div>
</section>

<script src="/public/js/add-post.js"></script>