<div style="text-align: center; width:40%">
    <h2>Dashboard</h2>
    <a href="/dashboard/create/">
        <button id="create-post">
            Create New Post
        </button>
    </a>

    <br>
    <br>
    <h2>Your Posts:</h2>
</div>

{{#if posts.length}}

{{#each posts as |post|}}
{{> posts post}}
<a href="/dashboard/edit/{{post.id}}">
    <button>
        Edit Post
    </button>
</a>
{{/each}}

{{else}}
<div>You do not currently have any posts</div>

{{/if}}