<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

    {{> posts post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea class="ml-5" name="comment-body"></textarea>
        </div>

        <div>
            <button class="button is-warning ml-5 mb-5" type="submit">Add Comment</button>
        </div>
    </form>
    {{/if}}

    {{> comments post.comments}}

    {{#if loggedIn}}
    <script src="/public/js/comment.js"></script>
    {{/if}}
</div>